{% extends 'shop/base.html' %}

{% load maths_filters%}

{% block content %}
    <div class="container mt-3">
        <div class="text-center mt-5">
            <h1 class="text-center">This is home page</h1>
            {% if length > 0 %}
                <h2 class="text-center">Found {{length}} products</h2>
            {% else %}
                <h2 class="text-center">No products were found</h2>
            {% endif %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for product in products %}
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img
                            src="{{ product.image_path|default:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8pblnvVY-4jyLswE1TmeukrgvRVC6Kz3Vtg&s' }}"
                            alt="{{product.name}}"
                            class="card-img-top"
                            style="width: 50px; height: 50px"
                            />
                            <div class="card-body">
                                <h5 class="card-title"> 
                                    {{product.name}}
                                </h5>
                                {% if not product.available %}
                                    <p class="text-danger">Out of stock</p>
                                {% else %}
                                    {% if product.discount %}
                                    <span class="text-success">
                                        {{product.price|calculate_discount:product.discount|floatformat:2}}
                                    </span>
                                    <span class="text-muted text-decoration-line-through">
                                        {{product.price|floatformat:2}}
                                    </span>
                                    {% else %}
                                        <span>
                                            {{product.price|floatformat:2}}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="product-rating text-center">
                                {% for i in "12345" %}
                                    {% if forloop.counter <= product.rating %}
                                        <i class="bi bi-star-fill text-warning"></i>
                                    {% else %}
                                        <i class="bi bi-star text-muted"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a href="{% url 'shop:product_details' product.id %}" class="btn-primary">More</a>
                            <a href="{% url 'shop:cart_add' product.id %}" class="btn-primary">Add to your cart</a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}